
@tailwind base;
@tailwind components;
@tailwind utilities;



/* /* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #4a5568;
}

/* Smooth transitions */
* {
  transition: all 0.2s ease-in-out;
}
/* Ghi đè thuộc tính lỗi */
.datatable-wrapper .datatable-top,
.datatable-wrapper .datatable-bottom {
  align-items: flex-start !important;
}
