/* DashboardRecent.css */
.recent-activities {
  background-color: rgb(250, 249, 249);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recent-activities h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.recent-activities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-activities li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f3f4f6;
  transition: background-color 0.3s ease;
}

.recent-activities li:hover {
  background-color: #f9fafb;
}

.recent-activities li:last-child {
  border-bottom: none;
}

.recent-activities .activity-info {
  display: flex;
  flex-direction: column;
}

.recent-activities .activity-info p {
  margin: 0;
  font-size: 0.875rem;
  color: #6b7280;
}

.recent-activities .activity-info span {
  font-size: 0.75rem;
  color: #92969c;
}

.recent-activities li:hover .activity-info p {
  color: #3b82f6; /* Highlight user action text on hover */
  font-weight: 800;
}
